/* MY VERY FIRST STYLESHEET!!!!*/

body {
  background-color: rgb(0, 30, 80);
  font-family: arial;
  color: rgb(1, 139, 152);
  text-align: center;
}

h1 {
  font-family: blippo, fantasy;
}

img {
  width: 500px
}

#sect1 {
  background-color: rgb(252, 104, 52);
}

#sect2 {
  background-color: rgb( 250, 222, 175);
}

p {

}

#background {
  width: 1000px;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 150px;
  z-index: -1;
}

/*.square {
  width: 50%;

}*/

/*  position: absolute;
  top: 50%;
  left: 50%;
       -ms-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);*/
