body {
  height: 2160px;
  background-color: lightblue;
  font-family: arial;
  font-size: 1.5em;
}

.yellow-square {
  background-color: yellow;
  height: 75px;
  width: 75px;
}

.float {
  float: left;
}

.play-nice{

}

header {
  position: fixed;
  top: 0px;
  background-color: rgb(50, 50, 150);
  height: 4em;
  width: 100%;
}

.menu-item {
  display: inline-block;
  margin: 1em .2em;
  background-color: rgb(50, 50, 150);
  max-width: 10em;
  text-align: center;
  padding: 0.5em 1em:
}

.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: green;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(50, 50, 150);
  margin: 1em;
  color: white;
  z-index: 1;
}

.dropdown-content a {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 1em;
  min-width: 5.5em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: white;
  background-color: rgb( 50, 50, 150);
}

.nice-big-border {

  background-color: yellow;
  width: 75%;
  padding: 2em;
  margin: 6em auto;
  border-width: .25em;
  border-style: solid;
  border-color: darkred;
}
