* {
font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1.125em;

}

menu {

}

h1 {
  font-family: 'Libre Baskerville', serif;
}

.navigation {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.site-links {

}

.site-links a{
  text-align: left;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: .5em 1em;
  display: inline-block;
}

.attribute-icons {
  text-align: center;
}

.stuff {
  margin-left: 20%;
  margin-right: 20%;
  max-width: 2000px;
}

.footer {
  margin-top: 3em;
}

.social-links {
  text-align: right;
  color: #fff;
}

img {
  width: 400px;
  height: auto;
}

.forms {
  Margin: 0em 3em;
}
/* .attribute-icons {
  color: blue;
} */
